html, body {
  margin: 0;
}

body {
  background-color: #EDEDED;
  font-family: Arial;
  font-size: 10pt;
}

a img {
  border: none;
}

.curved {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}

#header {
  position: relative;
  padding: 2em 0;
}
#header h1 {
  font-size: 18pt;
  font-weight: bold;
  margin-left: 3em;
  text-align: left;
}
#header h1, #sidebar h2 {
  color: #FFFAD5;
}
#header, #sidebar h2 {
  background-color: #2D3337;
}
#header h1 a {
  color: inherit;
  text-decoration: none;
}
#header #login_info {
  color: #DDD;
  position: absolute;
  right: 1.5em;
  top: 1em;
}
#header #login_info em {
  color: white;
  font-weight: bold;
}

#outer-container {
  height: 100%;
  padding-top: 1em;
}

#content {
  margin-left: 23em;
  margin-right: 1em;
  padding-bottom: 0.5em;
}
#content h1 {
  padding-top: 0.5em;
  margin-top: 0;
}
#content h2 {
  border-bottom: 1px solid #AAA;
  margin-top: 0;
  padding-bottom: 0.3em;
}
#content #intro {
  padding: 0.5em;
  text-align: center;
  background: none repeat scroll 0 0 #CCCCCC;
  color: #333333;
  font-weight: bold;
  line-height: 5em;
  padding: 0.5em;
  text-align: center;
  text-shadow: 1px 1px 4px #FFFFFF;
}
.cms_components #content p {
  font-style: italic;
}

#content p .notice {
  background-color: yellow;
  font-size: 12pt;
  padding: 0.2em;
}

h2 p.message {
  float: right;
  margin: 0;
}

.left {
  float: left;
}
.right {
  float: right;
}

.CodeMirror-wrapping {
  display: inline-block;
}
.CodeMirror-wrapping iframe {
  background-color: white;
  border: 1px solid #BBBBBB !important;
}

.cms_pages #content h2 {
  background: url("/cms/images/icons/page.png") no-repeat scroll right 50% transparent;
}
.cms_assets #content h2 {
  background: url("/cms/images/icons/picture.png") no-repeat scroll right 50% transparent;
}
