<div id="components">
  <% form_tag upload_cms_components_path, :multipart => true do %>
    <div>
      <%= file_field_tag :zip_file %>
      <%= submit_tag 'Upload' %> <em>.zip files only</em>
    </div>
  <% end %>

  <% if @cms_components.empty? %>
    <p><%= t 'components.actions.index.none' %></p>
  <% else %>
    <%= list_files @cms_components %>
  <% end %>
</div>
