<h3><span class="function">include</span> - Includes the contents of a page at the position of the tag.</h3>

<p class="example">The page named "test" will be inserted here along with any variables that have already been defined in the scope of the surrounding page.</p>

<pre>
&lt;div&gt;
  {% include 'test' %}
&lt;/div&gt;
</pre>

<h3><span class="function">asset_data</span> - Retrieves assets as a collection of asset drops.</h3>
<ul>
  <li><span class="param required">tag</span> - The tag string used to search for the assets.  Tags are associated with the asset when creating or editing them.</li>
  <li><span class="param">as</span> - Specify the name of the variable that the asset data will be saved in.  The name is 'assets' by default.</li>
</ul>

<pre>
{% asset_data tag:'customer' %}
</pre>
