<h3><span class="function">include</span> - Includes the contents of a page at the position of the tag.</h3>

<p class="example">The page named "test" will be inserted here along with any variables that have already been defined in the scope of the surrounding page.</p>

<code>
<pre>
&lt;div&gt;
  {% include 'test' %}
&lt;/div&gt;
</pre>
</code>
