<a name="filters"></a>
<h2>CMS Filters (in addition to default filters)</h2>

<%= render 'cms_filters' %>
<%= render 'app_filters' %>

<div class="cms_info">
  <h3>* Filters can be chained (see github link above)...</h3>

  <pre>
  {{ "test" | asset_url | image_tag }} = &lt;img src="/public/assets/5/original/test.jpg" /&gt;
  </pre>
</div>
