<h1>CMS Liquid Documentation</h1>

<p>A good start for designers which also describes the default filters and tags available can be viewed here... <%= link_to nil, "http://wiki.github.com/tobi/liquid/liquid-for-designers" %></p>
