<% f.simple_fields_for :meta, obj ? obj : nil, :index => obj ? idx : 'new_0' do |m| %>
<li>
  <div class="field">
    <%= m.input :name, :placeholder => 'field name', :size => 40 %>
    <span class="hint"><%= t('simple_form.hints.cms_asset.meta.name') %></span>
  </div>
  <div class="field">
    <%= m.input :value, :as => :text, :required => false, :input_html => {:rows => 2, :cols => 60, :placeholder => 'field value'} %>
  </div>

  <span class="delete">
    <%= link_to cms_icon('table_delete.png'), nil, :class => 'remove_meta', :title => 'Delete this meta data' %>
  </span>
</li>
<% end %>
