<div id="pages">
  <% if @pages.empty? %>
    <p><%= t 'pages.actions.index.none' %></p>
  <% else %>
    <ul class="tree">
      <%= render :partial => 'cms/pages/page', :collection => @pages %>
    </ul>
  <% end %>

  <p>
    <%= cms_icon 'page_add.png' %> <%= link_to t('pages.actions.index.new_link'), new_cms_page_path %>
  </p>
</div>
